perceptron/Untitled*
perceptron/.ipynb_checkpoints
perceptron/bla.pickle
perceptron/per*
linear/draft.ipynb
.vscode/settings.json
linear/__pycache__/*
linear/utils.py
gradient/pic
gradient/index.ipynb
