perceptron/Untitled*
perceptron/.ipynb_checkpoints
perceptron/bla.pickle
perceptron/per*
linear/draft.ipynb
.vscode/settings.json
linear/__pycache__/*
linear/utils.py
gradient/pic
gradient/index.ipynb
gradient/*.mp4
*.zip
data/
__pycache__/
slides/
*copy
.vscode/
*.pdf
*checkpoints/
.DS_Store
*.gz
homework-12345/homework-2/homework2-mlp/homework2-mlp copy.ipynb
homework-12345/homework-2/homework2-mlp/res.txt
